body {
    background-color: #ffffff;
}

h1 {
    font-family: serif;
    text-align: center
}

h2 {
    font-family: serif;
    text-align: center
}

img {
    width: 30%;
    margin: auto;
    display: block;
}

p {
    font-family: serif;
    text-align: center
}