body {
    background-color: #faf7db;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h2 {
    background-color: rgb(226, 177, 43);  
}
img {   
    margin: auto;
    display: block;
}
.borda {
	width: 38%;
	border:4px solid #c2b542;
	background:transparent url(/banhoDeSol.jpg);
}
tbody {
    text-align: center;
   
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
